In [1]:
import pandas as pd
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

dict_data = {
    'first': ['kaushal', 'pinkal', 'ananya', 'kartavya'],
    'last': ['khokhar', 'khokhar', 'patel', 'patel'],
    'email':['kaushal.123@gmail.com', 'pinal.123@gmail.com', 'anu.123@gmail.com', 'kartu.123@gmail.com']
}

dict_to_df = pd.DataFrame(dict_data)

In [2]:
dict_to_df['last'] == 'khokhar'

0     True
1     True
2    False
3    False
Name: last, dtype: bool

In [3]:
filtr = dict_to_df['last'] == 'khokhar'

In [5]:
# only gives row that fit to filter criteria
dict_to_df[filtr]

     first     last                  email
0  kaushal  khokhar  kaushal.123@gmail.com
1   pinkal  khokhar    pinal.123@gmail.com

In [10]:
# gives same result as above
dict_to_df.loc[filtr]

     first     last                  email
0  kaushal  khokhar  kaushal.123@gmail.com
1   pinkal  khokhar    pinal.123@gmail.com

In [13]:
# so loc is prefered to give extra features as below
dict_to_df.loc[filtr, 'email']

0    kaushal.123@gmail.com
1      pinal.123@gmail.com
Name: email, dtype: object

In [16]:
filtr = (dict_to_df['last'] == 'khokhar') & (dict_to_df['first'] == 'kaushal')
dict_to_df.loc[filtr, 'email']

0    kaushal.123@gmail.com
Name: email, dtype: object

In [17]:
# to get oposite to filter value put negative ahead of flitr as below
dict_to_df.loc[-filtr, 'email']

1    pinal.123@gmail.com
2      anu.123@gmail.com
3    kartu.123@gmail.com
Name: email, dtype: object

In [23]:
# filter of salari having higher than 70000
high_salary = (df['ConvertedComp'] > 70000)

In [27]:
df.loc[high_salary, ['Country', 'LanguageWorkedWith', 'ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [21]:
df.columns

Index(['MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource', 'Employment',
       'Country', 'Student', 'EdLevel', 'UndergradMajor', 'EduOther',
       'OrgSize', 'DevType', 'YearsCode', 'Age1stCode', 'YearsCodePro',
       'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney', 'MgrWant', 'JobSeek',
       'LastHireDate', 'LastInt', 'FizzBuzz', 'JobFactors', 'ResumeUpdate',
       'CurrencySymbol', 'CurrencyDesc', 'CompTotal', 'CompFreq',
       'ConvertedComp', 'WorkWeekHrs', 'WorkPlan', 'WorkChallenge',
       'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev', 'CodeRevHrs', 'UnitTests',
       'PurchaseHow', 'PurchaseWhat', 'LanguageWorkedWith',
       'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')